@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("./assets/forestLake.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.hire-button:hover {
    @apply bg-black text-gray-200 border-2 border-gray-200 px-[1.5rem];
}

.projects-button:hover {
    @apply bg-gray-300 text-black;
}
